<!DOCTYPE html>
<html>
<head>
<title>Articles</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Fashion Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts-->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
<!--//fonts-->
</head>
<body> 
	  <!--header-->
	  <% include meun.html %>
	<!---->
	<div class="content">
		<div class="container"> 			         
			<div class="article-top">
				<h3>详情介绍</h3>
					<div class="article-bottom">
					<div class="col-md-4 article-para">
						<a href="single" >
						<img src="images/men.jpg" alt="image" class="img-responsive zoom-img">
							</a>						
					</div>
						<div class="col-md-8 article-head">
							<h6 ><a href="#">这是我的朋友，我的朋友，我的朋友。Donec nisi sem。</a></h6>
							<p>这是一名精英，他是一名精英，他是一名精英。Donec nisi sem, vestibulum的ac lobortis，在metus上的aliquet。这是一种很好的方法，它是一种很好的方法。这是一种很好的方法，它可以使你的身体变得更健康。</p>
							<p>这是我的朋友，我的朋友。这是一种很好的方法，它是一种很好的方法。这是一种很好的方法，它可以使你的身体变得更健康。dolor sapien, pharetra placerat feuberon。</p>
							<p>
								这是一种很好的方法，它是一种很好的方法。这是一种很好的方法，它可以使你的身体变得更健康。这是一种很好的方法，它是一种很好的方法。这是一种很好的方法，它是一种很好的方法，它是一种很好的方法。这是一种很好的方法。在这里，你可以看到你的身体，你的身体，你的身体，你的身体。这是一种很有价值的东西，它是一种很好的东西。这是一种很有价值的东西。这是一种很好的方法，它可以使你的身体变得更健康，更有可能使你的身体变得更健康。</p>
						</div>
						<div class="clearfix"> </div>
						</div>
						<div class="article-bottom">

							<div class="col-md-8 article-head">
								<h6 ><a href="#">这是我的朋友，我的朋友，我的朋友。Donec nisi sem。</a></h6>
								<p>这是一名精英，他是一名精英，他是一名精英。Donec nisi sem, vestibulum的ac lobortis，在metus上的aliquet。这是一种很好的方法，它是一种很好的方法。这是一种很好的方法，它可以使你的身体变得更健康。</p>
								<p>这是我的朋友，我的朋友。这是一种很好的方法，它是一种很好的方法。这是一种很好的方法，它可以使你的身体变得更健康。dolor sapien, pharetra placerat feuberon。</p>
								<p>
									这是一种很好的方法，它是一种很好的方法。这是一种很好的方法，它可以使你的身体变得更健康。这是一种很好的方法，它是一种很好的方法。这是一种很好的方法，它是一种很好的方法，它是一种很好的方法。这是一种很好的方法。在这里，你可以看到你的身体，你的身体，你的身体，你的身体。这是一种很有价值的东西，它是一种很好的东西。这是一种很有价值的东西。这是一种很好的方法，它可以使你的身体变得更健康，更有可能使你的身体变得更健康。</p>
							</div>
						<div class="col-md-4 article-para">
						<a href="single" >
						<img src="images/women.jpg" alt="image" class="img-responsive zoom-img">
							</a>						
					</div>
						<div class="clearfix"> </div>
						</div>
						
			</div>
			</div>
		 </div>
	</div>
	<!---->
	<div class="footer">
		<div class="container">
				<div class="footer-class">
				<div class="class-footer">
					<ul>
						<li ><a href="index" class="scroll">主页 </a><label>|</label></li>
						<li><a href="men" class="scroll">男士</a><label>|</label></li>
						<li><a href="women" class="scroll">女士</a><label>|</label></li>
						<li><a href="collection" class="scroll">服装展示</a><label>|</label></li>
						<li><a href="collection" class="scroll">所有商品</a><label>|</label></li>
						<li><a href="collection" class="scroll">热卖服饰</a></li>
					</ul>
					 <p class="footer-grid">Copyright &copy; 2018.Company name All rights reserved.</p>
				</div>	 
				<div class="footer-left">
					<a href="index"><img src="images/logo1.png" alt=" " /></a>
				</div> 
				<div class="clearfix"> </div>
			 	</div>
		 </div>
	</div>

</body>
</html>