<!DOCTYPE html>
<html>

<head>
<title>Privacy</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Fashion Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts-->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
</head>

<!--//fonts-->
</head>
<body> 
	  <!--header-->
	  <% include meun.html %>
	<!---->
	<div class="content">
		<div class="container"> 			         
			<div class="privacy-top">
				<h3>隐私</h3>
					<div class="privacy-bottom">
						<h5><a href="#">Lorem Ipsum只是打印和排版的虚拟文本。</a></h5>
						<p>与人们普遍认为的相反，Lorem Ipsum并不是简单的随机文本。它起源于公元前45年的古典拉丁文学，距今已有2000多年的历史。理查德·麦克林托克是弗吉尼亚州汉普顿-悉尼学院的拉丁语教授。并通过对古典文学中这个词的引用，发现了不容置疑的来源。</p>
					</div>
					<div class="privacy-bottom">
						<h5><a href="#">Lorem Ipsum的段落有很多变体</a></h5>
						<p>与人们普遍认为的相反，Lorem Ipsum并不是简单的随机文本。它起源于公元前45年的古典拉丁文学，距今已有2000多年的历史。理查德·麦克林托克是弗吉尼亚州汉普顿-悉尼学院的拉丁语教授。并通过对古典文学中这个词的引用，发现了不容置疑的来源。</p>

					</div>
					<div class="privacy-bottom">
						<h5><a href="#">Lorem Ipsum只是打印和排版的虚拟文本。.</a></h5>
						<p>与人们普遍认为的相反，Lorem Ipsum并不是简单的随机文本。它起源于公元前45年的古典拉丁文学，距今已有2000多年的历史。理查德·麦克林托克是弗吉尼亚州汉普顿-悉尼学院的拉丁语教授。并通过对古典文学中这个词的引用，发现了不容置疑的来源。</p>

					</div>
					<div class="privacy-bottom">
						<h5><a href="#">Lorem Ipsum的段落有很多变体.</a></h5>
						<p>与人们普遍认为的相反，Lorem Ipsum并不是简单的随机文本。它起源于公元前45年的古典拉丁文学，距今已有2000多年的历史。理查德·麦克林托克是弗吉尼亚州汉普顿-悉尼学院的拉丁语教授。并通过对古典文学中这个词的引用，发现了不容置疑的来源。</p>

					</div>
			</div>
		 </div>
	</div>
	<!---->
	<div class="footer">
		<div class="container">
				<div class="footer-class">
				<div class="class-footer">
					<ul>
						<li ><a href="index" class="scroll">主页 </a><label>|</label></li>
						<li><a href="men" class="scroll">男士</a><label>|</label></li>
						<li><a href="women" class="scroll">女士</a><label>|</label></li>
						<li><a href="collection" class="scroll">服装展示</a><label>|</label></li>
						<li><a href="collection" class="scroll">所有商品</a><label>|</label></li>
						<li><a href="collection" class="scroll">热卖服饰</a></li>
					</ul>
					 <!--<p class="footer-grid">Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>-->
				</div>	 
				<div class="footer-left">
					<a href="index"><img src="images/logo1.png" alt=" " /></a>
				</div> 
				<div class="clearfix"> </div>
			 	</div>
		 </div>
	</div>

</body>
</html>