<!DOCTYPE html>
<html>
<head>
<title>时尚潮品-女士入口</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Fashion Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts-->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
<!--//fonts-->
</head>
<body> 
	  <!--header-->
	  <% include meun.html %>
	<!--content-->
	<div class="content">
		<div class="container">
			<div class="  col-m-on">
				<!---->
				<div class="in-line">
					<div class="para-all-in">
						<h3>女士服装</h3>

					</div>
					<div class="lady-on">
						<div class="col-md-4 you-women">
							<a href="single"><img class="img-responsive pic-in" src="images/pi4.jpg" alt=" " ></a>
							<p>高级牛仔女藏</p>
							<span>$179.00</span>
						</div>
						<div class="col-md-4 you-women">
							<a href="single"><img class="img-responsive pic-in" src="images/pi5.jpg" alt=" " ></a>

							<p>高级牛仔女藏</p>
							<span>$179.00</span>
						</div>
						<div class="col-md-4 you-women para-grid">
							<a href="single"><img class="img-responsive pic-in" src="images/pi6.jpg" alt=" " ></a>

							<p>高级牛仔女藏</p>
							<span>$179.00</span>
						</div>						
						<div class="col-md-4 you-women">
							<a href="single"><img class="img-responsive pic-in" src="images/pi5.jpg" alt=" " ></a>

							<p>高级牛仔女藏</p>
							<span>$179.00</span>
						</div>
						<div class="col-md-4 you-women">
							<a href="single"><img class="img-responsive pic-in" src="images/pi6.jpg" alt=" " ></a>

							<p>高级牛仔女藏</p>
							<span>$179.00</span>
						</div>
						<div class="col-md-4 you-women para-grid">
							<a href="single"><img class="img-responsive pic-in" src="images/pi4.jpg" alt=" " ></a>

							<p>高级牛仔女藏</p>
							<span>$179.00</span>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<!---->
			<div class="lady-in-on">
			<div class="buy-an">
						<h3>其他产品</h3>
						<p>检查我们所有最新的产品在这一节.</p>
					</div>
					<ul id="flexiselDemo1">			
				<li><a href="#"><img class="img-responsive women" src="images/pic.jpg" alt=""></a>
				<div class="hide-in">
				<p>最新服装秀</p>
				<span>$179.00</span>
				</div></li>
				<li><a href="#"><img class="img-responsive women" src="images/pic1.jpg" alt=""></a>
				<div class="hide-in">
				<p>最新服装秀</p>
				<span>$179.00</span>
				</div></li>
				<li><a href="#"><img class="img-responsive women" src="images/pic.jpg" alt=""></a>
				<div class="hide-in">
				<p>最新服装秀</p>
				<span>$179.00</span>
				</div></li>
				<li><a href="#"><img class="img-responsive women" src="images/pic2.jpg" alt=""></a>
				<div class="hide-in">
				<p>最新服装秀</p>
				<span>$179.00</span>
				</div></a></li>
            </ul>
            		<script type="text/javascript">
		$(window).load(function() {
			$("#flexiselDemo1").flexisel({
				visibleItems: 4,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,    		
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
		    	responsiveBreakpoints: { 
		    		portrait: { 
		    			changePoint:480,
		    			visibleItems: 1
		    		}, 
		    		landscape: { 
		    			changePoint:640,
		    			visibleItems: 2
		    		},
		    		tablet: { 
		    			changePoint:768,
		    			visibleItems: 3
		    		}
		    	}
		    });
		    
		});
	</script>
	<script type="text/javascript" src="js/jquery.flexisel.js"></script>
		</div>
	</div>
	</div>
	<!---->
	<div class="footer">
		<div class="container">
				<div class="footer-class">
				<div class="class-footer">
					<ul>
						<li ><a href="index" class="scroll">主页 </a><label>|</label></li>
						<li><a href="men" class="scroll">男士</a><label>|</label></li>
						<li><a href="women" class="scroll">女士</a><label>|</label></li>
						<li><a href="collection" class="scroll">服装展示</a><label>|</label></li>
						<li><a href="collection" class="scroll">所有商品</a><label>|</label></li>
						<li><a href="collection" class="scroll">热卖服饰</a></li>
					</ul>
					<p class="footer-grid">Copyright &copy; 2018.Company name All rights reserved.</p>
				</div>
				<div class="footer-left">
					<a href="index"><img src="images/logo1.png" alt=" " ></a>
				</div> 
				<div class="clearfix"> </div>
			 	</div>
		 </div>
	</div>

</body>
</html>