<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>纸叠效果会员登录界面模板</title>
<link rel="stylesheet" type="text/css" href="assets/css/style.css" />
<link rel="stylesheet" type="text/css" href="assets/css/body.css"/>
	<script src="assets/js/jquery.min.js"></script>
</head>
<body>
<div class="container">
	<section id="content">
		<form action="">
			<h1>管理员注册</h1>
			<div>
				<input type="text" placeholder="用户名" required="" id="username" />
			</div>

			<div>
				<input type="password" placeholder="密码" required="" id="password" />
			</div>
			 <div class="">
				<span class="help-block u-errormessage" id="js-server-helpinfo">&nbsp;</span>			</div> 
			<div>
				<!-- <input type="submit" value="Log in" /> -->
				<input type="button" value="注册" class="btn btn-primary" id="js-btn-login" style="margin-bottom: 20px;" onclick="confirmSignup()"/>
			</div>
		</form><!-- form -->
		<script>
            function confirmSignup() {
                //1,获得标签节点
                var user = document.getElementById('username');
                var password = document.getElementById('password');
                //2，向服务器提交数据
                $.ajax({
                    url: 'registerAction',
                    type: "POST",
                    data: {
                        name: user.value,
                        password: password.value
                    },
                    traditional: true,//这里设置为true
                    success: function(data) {
                        // alert(data);
                    	if (data.insertId == '-1') {
                            alert(data.msg);
						}else{
                            alert(data.msg);
						}
                    }
                });
            }
		</script>
	</section><!-- content -->
</div>
<!-- container -->


<br><br><br><br>
<div style="text-align:center;">
</div>
</body>
</html>