<div class="span2">
    <div class="main-left-col">
        <h1><i class="icon-home icon-large"></i>superAdmin</h1>
        <ul class="side-nav">
            <!--管理员信息-->
            <li class="active">
                <a href="index"><i class="icon-user"></i> 管理员信息</a>
            </li>
            <!--产品管理-->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="collapse" data-target="#website-dropdown"><i class="icon-cogs"></i> 产品管理<b class="caret"></b></a>
                <ul id="website-dropdown" class="collapse">
                    <li><a href="addProduct">增加产品</a></li>
                    <li><a href="selectProduct">搜索产品</a></li>
                    <li><a href="deleteProduct">删除产品</a></li>
                    <li><a href="updateProduct">修改产品信息</a></li>
                </ul>
            </li>
            <!--营销管理-->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="collapse" data-target="#store-dropdown" href="#"><i class="icon-eye-open"></i> 营销管理<b class="caret"></b></a>
                <ul id="store-dropdown" class="collapse">
                    <li><a href="">首页轮播图管理</a></li>
                    <li><a href="orders.html">热销商品管理</a></li>
                    <li><a href="addProduct.html">新品预告管理</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="collapse" data-target="#reports-dropdown" href="#"><i class="icon-heart"></i> 用户管理 <b class="caret"></b></a>
                <ul id="reports-dropdown" class="collapse">
                    <li><a href="report.html">用户反馈</a></li>
                    <li><a href="report.html">删除用户</a></li>
                </ul>
            </li>
        </ul>
    </div> <!-- end main-left-col -->
</div>