<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>首页轮播图效果</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="http://fonts.googleapis.com/css?family=Oxygen|Marck+Script" rel="stylesheet" type="text/css">
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/font-awesome.css" rel="stylesheet">
    <link href="assets/css/admin.css" rel="stylesheet">
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>
</head>
<style>
    #productHandleDel,#productHandleUpdate{
        display: inline-block;
        width: 48px;
        text-align: center;
    }
    #outHide{
        width: 200px;
        height: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-top: 10px;
    }
    #one{
        height: 50px;
    }
    #one th{
        text-align: center;
    }
    .oper{
        height: 100px;
        width: 100%;
    }
    .oper button:first-child{
        float: right;
    }
    .oper button:last-child{
        float: left;
    }
</style>
<body>

<div class="container">
    <div class="row">
        <!--使用ejs模板-->
        <% include menu.html%>
        <div class="span10">
            <!--操作区域顶部-->
            <% include masthead.html%>
            <!--管理员信息-->
            <div class="adminInfo">
                <!--========================================-->
                <div class="slate">
                    <div class="slate">
                        <div class="page-header">
                            <h2>轮播图效果</h2>
                        </div>

                        <!--==================================-->
                        <div class="panel" style="margin-top: 20px;">
                            <header class="panel-heading" style="margin: 20px 0;">此处为轮播图的修改操作</header>
                            <div class="panel-body" style="height: 400px;">
                                <table class="table table-bordered" id="getProductValue">
                                    <tr>
                                        <th style="width: 70px;text-align: center;">商品编号</th>
                                        <th style="text-align: center;">名称</th>
                                        <th style="text-align: center;">价格</th>
                                        <th style="text-align: center;">尺寸</th>
                                        <th style="text-align: center;">颜色</th>
                                        <th style="text-align: center;">介绍</th>
                                        <th style="width: 100px;text-align: center;">操作</th>
                                    </tr>
                                    <!--点击搜索按钮显示查询信息-->
                                </table>
                                    <div class="oper">
                                    <button class="btn btn-lg">一键全删</button> <button class="btn btn-lg"><a href="">添加轮播图</a></button>
                                </div>
                                <p id="notFound" style="display: block; width: 800px;text-align: center;font-size: 28px;position: absolute;margin-top: 20px">暂无更多操作</p>

                            </div><!-- /.panel-body -->
                            <script>
                                //在加载时把轮播图数据提取
                                (()=>{
                                var getProductValue=document.querySelector("#getProductValue");
                                window.onload=function () {
                                    $.ajax({
                                        url: 'swiperAction',
                                        type: "post",
                                        // async:false,
                                        data: {
                                        },
                                        traditional: true,//这里设置为true
                                        success: function(data) {
                                            // console.log(data)
                                            for(let one  in data){
                                                // console.log(data[one]);
                                                getProductValue.innerHTML+=`<tr id="one">
                                                    <th>${data[one].id}</th>
                                                    <th>${data[one].name}</th>
                                                    <th>${data[one].pay}</th>
                                                    <th>${data[one].size}</th>
                                                    <th>${data[one].color}</th>
                                                    <th>${data[one].textshow}</th>
                                                    <th style="width: 100px;text-align: center;"><span id="del" class="text">删除</span>
                                                   </th>
                                                </tr>`;
                                            }
                                            //添加删除功能
                                            var del=document.querySelectorAll("#del");
                                            var  tr=document.querySelectorAll("#one");
                                            console.log(tr);
                                            for (let i=0;i<del.length;i++){
                                                del[i].onclick=function () {
                                                    console.log(i);
                                                    tr[i].remove();
                                                }
                                            }
                                        }
                                    });
                                }



                                })();
                            </script>
                            <!--页面切换-->
                            <div class="table-foot">
                                <ul class="pagination pagination-sm no-margin pull-right">
                                    <li><a href="#">&laquo;</a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">&raquo;</a></li>
                                </ul>
                            </div>
                        </div><!-- /.panel -->


                        <!--========================-->
                    </div>
                </div>
            </div>
        </div> <!-- end span10 -->

    </div> <!-- end row -->

</div> <!-- end container -->



</body>



</html>